Repository devocean-green-dev/GreenDev_Android, pull requests merged in 2023-07, with the labels that each got.

#4 [DOC] Android Project 기본 설정 및 Convention 규칙
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/misc.xml
  .idea/vcs.xml
  Rules.md
Labels: doc

#10 [DEV] Android 캠페인 참여 기록 UI 구성
  app/src/main/java/com/example/greendev/MainFragment.kt
  app/src/main/java/com/example/greendev/RecordFragment.kt
  app/src/main/res/layout/fragment_record.xml
Labels: dev

#13 [DEV] 프로필 UI 뱃지 RecyclerView 추가
  app/src/main/java/com/example/greendev/ProfileFragment.kt
  app/src/main/java/com/example/greendev/RecyclerViewAdapter.kt
  app/src/main/res/drawable/badge_sample.png
  app/src/main/res/layout/badge_item.xml
  app/src/main/res/layout/fragment_profile.xml
Labels: dev

#15 [DEV] 검색 UI 수정
  app/src/main/java/com/example/greendev/SearchFragment.kt
  app/src/main/res/layout/fragment_search.xml
Labels: dev

#18 [FIX] 1차 리팩토링
  app/build.gradle
  app/src/main/java/com/example/greendev/BindingActvity.kt
  app/src/main/java/com/example/greendev/BindingFragment.kt
  app/src/main/java/com/example/greendev/view/activity/MainActivity.kt
  app/src/main/java/com/example/greendev/view/fragment/ApplyFragment.kt
  app/src/main/java/com/example/greendev/view/fragment/HomeFragment.kt
  app/src/main/java/com/example/greendev/view/fragment/MainFragment.kt
  app/src/main/java/com/example/greendev/view/fragment/ProfileFragment.kt
  app/src/main/java/com/example/greendev/view/fragment/RecordFragment.kt
  app/src/main/java/com/example/greendev/view/fragment/SearchFragment.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/finish_dialog.xml
  app/src/main/res/layout/fragment_apply.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_main.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/fragment_record.xml
  app/src/main/res/layout/fragment_search.xml
Labels: fix

#20 [DEV] Login UI 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/greendev/view/activity/LoginActivity.kt
  app/src/main/res/drawable/github.xml
  app/src/main/res/drawable/github_icon.png
  app/src/main/res/drawable/google.xml
  app/src/main/res/drawable/google_icon.png
  app/src/main/res/layout/activity_login.xml
Labels: dev
